{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Lógica
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-sm">
                <button type="button" class="raven_tile" id="tile_6_a_1"></button>
                <button type="button" class="raven_tile" id="tile_6_a_2"></button>
                <button type="button" class="raven_tile" id="tile_6_a_3"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button type="button" class="raven_tile" id="tile_6_a_4"></button>
                <button type="button" class="raven_tile" id="tile_6_a_5"></button>
                <button type="button" class="raven_tile" id="tile_6_a_6"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button type="button" class="raven_tile" id="tile_6_a_7"></button>
                <button type="button" class="raven_tile" id="tile_6_a_8"></button>
                <button type="button" class="raven_tile" id="tile_6_a_9"></button>
            </div>
        </div>
    </div>

    <p>
        De entre las opciones que se le muestran abajo, por favor indique cuál es la que deberia reemplazar el signo de
        pregunta arriba para completar la secuencia haciendo clic en esta.
    </p>
    <div class="container">
        <button name="is_correct_q6" value="0" class="raven_tile" id="tile_6_b_1"></button>
        <button name="is_correct_q6" value="0" class="raven_tile" id="tile_6_b_2"></button>
        <button name="is_correct_q6" value="0" class="raven_tile" id="tile_6_b_3"></button>
        <button name="is_correct_q6" value="0" class="raven_tile" id="tile_6_b_4"></button>
        <button name="is_correct_q6" value="1" class="raven_tile" id="tile_6_b_5"></button>
    </div>

{% endblock %}

{% block styles  %}
    <link href="{% static "static_raven/css/style_raven.css" %}" rel="stylesheet">
{% endblock %}
