{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Consentimiento informado
{% endblock %}

{% block content %}

    <p>Usted ha sido invitado a participar en una investigación cuyo propósito es entender como las personas toman
        decisiones. El estudio será llevado a cabo por Andres Felipe Montealegre Olaya bajo la supervisión del Profesor
        Francesco Bogliacino de la Facultad de Ciencias Económicas de la Universidad Nacional de Colombia. Usted debe
        ser mayor de edad, tener 18 o más años, para participar en el estudio.
    </p>
    <p>Si usted acepta, tendrá que realizar cuatro tareas y tomar una decisión, además de responder algunas preguntas.
        Estas actividades las hará en un lugar en el que pueda sentirse cómodo para realizarlas. La participación en
        esta actividad requerirá de aproximadamente una hora de su tiempo.
    </p>
    <p>Su participación es completamente voluntaria y podrá marcharse en cualquier momento. Así mismo, si usted desea
        dejar sin respuesta algunas de las preguntas, está en completa libertad de hacerlo. Sin embargo, los
        investigadores agradeceríamos que las respondiera todas.
    </p>
    <p>El presente estudio se acoge a las disposiciones éticas colombianas de investigación, la Resolución 8430 de 1993,
        que establece las normas científicas, técnicas y administrativas que involucran la participación de personas en
        estudios científicos. La presente investigación se clasifica como una en la que la participación de seres
        humanos tiene riesgos mínimos en la medida en que no genera riesgos presentes o posteriores a la investigación
        para las personas que participan en ella. Los posibles inconvenientes están asociados al tiempo necesario para
        completar las actividades requeridas en la investigación.
    </p>
    <p>Si existe algo de esta investigación que usted quiera que se le aclare, si desea informar de algún problema o
        tiene preguntas acerca de sus derechos como participante o de cualquier otro aspecto de esta investigación,
        por favor no dude en contactar al Profesor Francesco Bogliacino (teléfono 316-5000 ext. 12388, correo
        electrónico fbogliacino@unal.edu.co).
    </p>
    <p>Escribiendo su nombre y su número de documento a continuación, usted declara que ha sido debidamente informado y
        que participa a esta investigación de manera voluntaria.
    </p>
    <p>Atentamente,
    </p>
    <p>Andres Felipe Montealegre Olaya.
    </p>
    <p>
    </p>
    <p>Nombres y apellidos: {{ form.nombre }}
    </p>
    <p>Número de documento de identidad: {{ form.id_number }}
    </p>


    {% next_button %}

{% endblock %}
